POSTGRES_USER=videre1
POSTGRES_PASSWORD=
POSTGRES_DB=mtgo
POSTGRES_PORT=6432
API_PASSWORD=
CLOUDFLARED_PUBLIC_HOSTNAME=public-db.videreproject.com
CLOUDFLARED_WORKER_HOSTNAME=worker-db.videreproject.com
CLOUDFLARED_TUNNEL_NAME=
CLOUDFLARED_TUNNEL_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONE_NAME=videreproject.com
TAILSCALE_IP=
